<% include ./header%>
<div class="container">
      <div class="alert alert-danger mt-4 text-center">
            <strong><%= error.status %></strong> <%= message %>!
          </div>
          <div class="text-center">          <input type="button" class="btn btn-danger text-center" value="CLICK HERE TO RETRY" onclick=" relocate_home()">
          </div>
</div>
<script>
      function relocate_home()
{
     location.href = "/";
} 
</script>
<% include ./footer%>


<style>
body {

      background: rgb(28,4,73);
      background: linear-gradient(90deg, rgba(28,4,73,1) 0%, rgba(25,196,161,1) 41%, rgba(37,11,167,1) 93%);
      }

h1{
      margin-top=20px;
      font-weight:900;
      font-size:34px;
      padding-bottom:5px;
      color:white;
      padding-top:10px;
    }

a{
	 color:white;
}

h2{
	color:white;
}

pre{
	 color:white;
}

button{
	color:black;
	font-weight:bold;

}
button:hover{
	color:hhotpink;
}

</style>

