<% include ./header%>
<link rel="stylesheet" href="/stylesheets/index.css"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">API Rate Limiter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/login">Log Out<span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
  </nav>
<div class= "container">
<div class="title">
<h1>Welcome <%=user.name%>!</h1>
</div>
</div>

<div class="row">
<div class="col-md-4">
  <div class="card text-center">
  <div class="card-body">
  <h5 class="card-title">Developers Page</h5>
  <a href="/developers">Developers</a>
  </div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
  <div class="card text-center">
  <div class="card-body">
  <h5 class="card-title">Organizations Page</h5>
  <a href="/organizations">Organizations</a>
  </div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
  <div class="card text-center">
  <div class="card-body">
  <h5 class="card-title">Employees Page</h5>
  <a href="/employees">Employees</a>
  </div>
</div>
</div>
</div>




<% include ./footer%>

