<% include ./header%>
<h1><%=user.name%></h1>
<li><a href="/developers">Developers</a></li>
<li><a href="/organizations">Companies</a></li>
<li><a href="/employees">Students</a></li>
<% include ./footer%>